{% extends "annotate_document/base.html" %}

{% block content %}
  <div class="row pt-2">
    <div class="col-md-12">
      <h3>Logged out</h3>
    </div>
  </div>
  <div class="row pb-2">
    <div class="col-md-12">
      <a href="{% url 'login'%}">Click here to login again.</a>
    </div>
  </div>


{% endblock %}