{% extends "annotate_document/base.html" %}
{% load annotate_extras %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form class="mt-4 mb-2" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="form-group">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  <p class="pb-2">Don't have a login? Register : <a href="{% url 'annotate_document:signup' %}">Sign Up</a></p>
  <p class="pb-2">Forgot your password? Send an email with your
    <a href="mailto:{% settings_value 'EMAIL_ADMIN' %}">{% settings_value "EMAIL_ADMIN" %}</a>
  </p>

{% endblock %}