html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: Georgia; color: #0276c3; margin: 1rem 0; }
a { color: #0276c3; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; font-size: 1.2rem; }
.footer { background: lightgray; align-items: center; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column;}
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }
.solid {border-style: solid; border-width: thin; border-radius: 4pt; padding: 5pt;}
mark { background-color: yellow; border-radius: 3pt;}
mark.green { background-color: #3DED97aa; border-radius: 3pt; padding: 0.4em 0em 0em 0em;}
mark mark.green { background-color: #FFA500; border-radius: 3pt; padding: 0.2em 0em 0em 0em;}
mark mark mark.green { background-color: #3DBDEE; border-radius: 3pt; padding: 0em;}
mark mark mark mark.green { background-color: #FF0000; border-radius: 3pt; padding: 0em;}

mark.none { background-color: transparent;}
.list-entity{
    max-height: 120px;
    max-width: 100%;
    direction: rtl;
    margin-bottom: 10px;
    overflow-y:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}
.list-ltr{
    direction: ltr;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
div.hlMenu {
    display: none;
    position: absolute;
    background: black;
    list-style: none;
    box-shadow: 0px 0px 4px rgba(0,0,0,.5);
    border-radius: 3pt;
    position: absolute;
    background: #fff;
}
.required:after {
    content:" *";
    color: red;
  }
img {max-width: 925px;}
#entityPanel {
    z-index:10;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.notification:hover {
  background: grey;
}

.notification .badge {
  position: absolute;
  top: -7px;
  right: -7px;
  padding: 2px 5px;
  border-radius: 50%;
  background: red;
  color: white;
}

.hide { display: none;}

.notification {
  display: inline-block;
  cursor: pointer;
}
.modal-header {background-color: #a7cfea; color: black;}
.btn-hide-disabled[disabled] {display: none;}
[v-cloak] {display: none;}
.table-scrollbar {
position: relative;
height: 120px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}