{% load static %}
{% load annotate_extras %}

<!doctype html>
<link rel="icon"href="{% static 'favicon.ico' %}">
<title>{% block title %}{% endblock %} - Annotator</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'annotate_document/style.css' %}"> 
<nav>
      <h1>Entity Linking Annotator</h1>
      <ul>
        {% block navList %}{% endblock %}
        {% if user.is_authenticated %}
          <li><span>{{ user.username }}</span>
          <li><a href="{% url 'logout' %}">Log Out</a>
        {% else %}
          <li><a href="{% url 'login' %}">Log In</a>
        {% endif %}
      </ul>
</nav>
<div class="container">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% if messages %}
    {% for message in messages %}
      <div class="container-fluid p-0 mt-2">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <div class="container-fluid p-0 mt-2">
    <div class="alert alert-info alert-dismissible" role="alert" >
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      The Annotation system will close on 1 January at 7am.
    </div>
  </div>
  {% block content %}{% endblock %}
</div>
<div class="text-center footer">
  If you have any issues or questions please email me at <a href="mailto:{% settings_value 'EMAIL_ADMIN' %}">{% settings_value "EMAIL_ADMIN" %}</a>.
</div>
