{% extends 'annotate_document/base.html' %}

{% block header %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

		<h1>Complete</h1>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4>Thank You for your participation!</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Documents Processed:</td>
                    <td>{{ documents }}</td>
                </tr>
                <tr>
                    <td>Words Processed:</td>
                    <td>{{ words }}</td>
                </tr>
                <tr>
                    <td>Names Linked:</td>
                    <td>{{ entities }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-secondary float-left mt-2 mb-2 mr-2" href="{% url 'annotate_document:review' %}">Back</a>
        <a class="btn btn-primary float-left mt-2 mb-2" href="{% url 'logout' %}">Log Out</a>
    </div>
</div>

<script>
    $.ajax({
        url: "/send-completion?username={{ user.get_username }}&num_words={{ words }}&num_documents={{ documents  }}&num_annotated={{ entities }}",
        type: 'GET'
    });
</script>

{% endblock %}