{% extends 'annotate_document/base.html' %}
{% load annotate_extras %}

{% block header %}
		<h1>Document List</h1>
{% endblock %}

{% block content %}
<table class="table table-borderless">
    <thead class="thead-light">
        <tr>
            <th scope="col">Document</th>
            <th scope="col">Complete</th>
            <th scope="col">Unannotated Lines</th>
        </tr>
    </thead>
{% for document in object_list %}
        <tr>
            <td><a href="{%url 'annotate_document:document' document.document.id %}">{{ document.document.title }}</a></td>
            <td>{% if '0' in document.annotated_lines %} NO {% else %} YES {% endif %}</td>
            <td>{% if '0' in document.annotated_lines %}{{document.annotated_lines|count:"0"}}{% endif %}</td>
        </tr>
{% empty %}
    <li>No documents yet.</li>
{% endfor %}
</table>
<div class="row">
    <div class="col">
        {% if complete and not annotation_complete%}
        To annotate another document click here: <a href="{% url 'annotate_document:addDocument' %}">Annotate New Document</a><br>
        {% endif %}
    </div>
</div>
{% endblock %}