{% extends 'annotate_document/base.html' %}
{% load static %}
{% load annotate_extras %}


{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Annotating Documents</h2>
    </div>
    <div class="col-md-6">
        <a  id="prev_btn" class="btn btn-primary mb-2 mt-2 float-right" href="{%url 'annotate_document:video' %}" target="_blank">
            Tutorial Video
        </a>
    </div>
</div>

<h3>1. Overview</h3>
<p>
    For each task we want to find all the names which refer to the same person. To do this we need to find occurrences of
    names (or nicknames/aliases) and link them to the person to whom they refer.<br>
    In the document the following terms are used:
    <ul>
        <li><b>mention</b>: A particular occurrence of a name within the text (<em>Shaka Zulu</em> or
            <em>Sigidi kaSenzangakhona</em>).
        </li>
    <li><b>entity</b>: A person (<em>Shaka kaSenzangakhona</em>).</li>
    </ul>
    The image below shows the basic structure of each document to be annotated.
</p>
<img src="{% static 'annotate_document/images/annotator1.jpg' %}" alt="Overview Image" class="mb-3">

<h3> 2. Select a name(mention)</h3>
<p>
    To link a name(mention) to an entity. Start by selecting the name from the textbox.<br>
    Please make sure you highlight the whole name and try not to include any spaces before/after.<br>
    Please include any titles that appear as part of the name for example <em>chief Senzangakhona</em> rather than just
    <em>Senzangakhona</em>.
</p>
<img src="{% static 'annotate_document/images/annotator-2.jpg' %}" alt="Select name Image" class="mb-3">

<h3> 3. Highlight the name</h3>
<p>
    Clicking <b>Highlight</b> will highlight the name.<br>
    The name now shows up as a selected mention along with its position in the document.<br>
    You can close the pop-up and repeat this process to highlight all the names that refer to the same person(entity).
</p>
<img src="{% static 'annotate_document/images/annotator-3.jpg' %}" alt="Select name Image" class="mb-3"><br>

<h3>4. Ignoring a selected name</h3>
<p>
If you accidentally highlight a mention and don't want to link it then you can uncheck the checkbox next to the
    mention in the selected mentions section.<br>
If you want to clear all the selected mentions you close the select person pop-up and click the <b>clear</b> button.
</p>
<img src="{% static 'annotate_document/images/annotator-5.jpg' %}" alt="Select name Image" class="mb-3"><br>

<h3>5. Select a person</h3>
<p>
    Use the search bar to search for the person who being referred to by the selected name(s).<br>
    When searching it is best to try searching for the simplest form of the person's name. If that doesn't give the
    correct result try searching for just the first few letters of their name.
    A list of the people who possibly match your search will be shown as well as an option to create a new entity if
    there are no matches.<br>
    For each of the entities you can click on <b>Description</b> or <b>Alias</b> to display/hide more infromation about the
    entity or the previous name that have been associated with the entity.
</p>
<img src="{% static 'annotate_document/images/annotator-6.jpg' %}" alt="Select an entity"><br>
<h3>5.1. Edit Candidate Entity</h3>
<p>
    If you are using an existing entity but you think there is a mistake in either the entity name or description
    you can suggest changes. By clicking the <b>Suggest Edit</b> button. This opens up an <b>Edit Entity</b> form.<br>
    To edit the name or description check the relevant box and edit the text box.
</p>
<img src="{% static 'annotate_document/images/annotator-6-1.jpg' %}" alt="Select an entity" class="mb-3"><br>

<h3>6. Create a new entity</h3>
<p>
    If the names selected match none of the entities please try searching for other possible names. If a match is still
    not found then you may need to create a new entity.<br>
    Selecting the <b>Create New</b> option will open a form for creating a new entity.<br>
    The name field is automatically filled in. However, you can edit if it isn't suitable.<br>
    If you edit the name please use the most complete name for the entity e.g "Shaka kaSenzangakhona" instead of "Shaka Zulu".<br>
    The date of birth and date of death fields are optional.<br>
    The description field is automatically filled in although you can edit it if you can provide a better description.
</p>
<img class="mb-3" src="{% static 'annotate_document/images/annotator-6.jpg' %}" alt="Select an entity" class="mb-3"><br>

<h3>7. Link the mention(s) with the entity</h3>
<p>
    Once you have selected an entity or filled in the form for a new entity you can click <b>Link</b> to link them.
</p>
<img src="{% static 'annotate_document/images/annotator-7.jpg' %}" alt="Select an entity" class="mb-3"><br>

<h3>8. Complete line</h3>
<p>
    Once you have annotated all, if any, of the names in a row please check the checkbox at the end of the row.
</p>
<img src="{% static 'annotate_document/images/annotator-8.jpg' %}" alt="Select an entity" class="mb-3"><br>

<h3>9. Delete/View Link</h3>
<p>
    To check if a name is correctly linked click on the highlighted text to view the name of the person it has been
    linked to.<br>
    If the name is linked to the wrong person you can delete the link by pressing delete then recreate the link.
</p>
<img src="{% static 'annotate_document/images/annotator1-del.jpg' %}" alt="Select an entity" class="mb-3"><br>

<h3>10. Completing the annotation of the document</h3>
<p>
    Repeat the above steps to link all the names in the document.<br>
    Once all the lines are checked you can move on to the next document.
</p>
<img src="{% static 'annotate_document/images/annotator-9.jpg' %}" alt="Select an entity" class="mb-3"><br>

<h3> Contact </h3>
<p>If you have any further questions please send an email to: <a href="mailto:{% settings_value 'EMAIL_ADMIN' %}">{% settings_value "EMAIL_ADMIN" %}</a></p>

{% block page_nav %}{% endblock %}
{% endblock %}