{% extends 'annotate_document/help_base.html' %}

{% block header %}
<h1>Help</h1>
{% endblock %}

{% block page_nav %}
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary mb-2" onClick="javascript:history.go(-1);">Back</button>
    </div>
</div>
{% endblock %}