{% extends 'annotate_document/base.html' %}
{% load static %}

{% block header %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- development version, includes helpful console warnings -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% endblock %}
{% block navList %}
	<li></li>
	<li><a class="float-right" href="{% url 'annotate_document:document-list' %}">Document List</a></li>
{% endblock %}
{% block content %}
	<body>
		<div class="row">
			<div class="col-12">
				<h1>Annotator</h1>
			</div>
		</div>
		<div id="app" v-cloak>
			<div class="row">
				<div class="col-md-9">
					<h3> {{document.title|truncatechars:50}} </h3>
				</div>
				<div class="col-md-3">
					<div class="row">
						<div class="col-12">
							<a class="float-right" href="{% url 'annotate_document:help' %}">Help</a>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<span class="float-right"> Document {{doc_index}} of {{num_docs}} </span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p>
						Please take note of the following when selecting names:
						<ul>
							<li>Include titles e.g King Shaka or Captain Gardiner</li>
							<li>For names including an <b>'s</b> do not include the <b>'s</b> e.g for the text
								<em>Stuart's book</em> only highlight <em>Stuart</em>.</li>
						</ul>
					</p>
					<span v-if="highlighted<1">Select a name then click "Highlight" to begin.</span>
				</div>
			</div>
			<div class="row" style="position: relative">
				<div id="documentPanel" class="col-md-12">
					<p v-html="highlight_html" class="solid" id="document_text">
					<div id="hlMention" class="hlMenu">
					<span class="ml-1">Selected: "[[name]]"</span>
					<button v-on:click="highlightSelection" class="btn btn-primary m-1">Highlight</button>
				</div>
					<div id='rmMention' class="hlMenu">
					<span class="ml-1">Linked to: "[[name]]"</span>
					<button id="delete_btn" class="btn btn-danger m-1">Delete</button>
				</div>
					</p>
					<div class="row mb-2">
						<div class="col-md-8">
							<button v-if="highlighted>0" v-on:click="reset" class="btn btn-primary">Clear</button>
							<button id="entity_btn" class="notification btn btn-primary"
									onclick="showMenu()" :disabled="highlighted>0 ? false:true">
								<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Please select a name first"
									v-if="highlighted<1">
									Link
								</span>
								<span v-else>Link</span>
								<span class="badge" v-bind:class="{hide: (highlighted<1)}">[[mentions.length]]</span>
							</button>
						</div>
						<div class="col-md-4 float-right">
							<button class="btn btn-danger float-right" data-toggle="modal" data-target="#opt-outModal">Opt-Out</button>
						</div>
					</div>
				</div>
				<div id="entityModal" class="modal fade" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Select Person</h4>
								<button type="button" class="close" data-dismiss="modal">&times</button>
							</div>

								<form id="link" method="post" action="{% url 'annotate_document:link' %}" @submit="checkForm">
									<div class="modal-body">
									{% csrf_token %}
									<div class="row">
										<div class="col-md-12">
											<p v-if="errors.length">
												<b>Please correct the following error(s):</b>
											<ul>
												<li v-for="error in errors">[[ error ]]</li>
											</ul>
											</p>
											<input type="hidden" name="mentions" :value="JSON.stringify(mentions)">
											<input id="docId" type="hidden" name="document" :value="{{document.id}}">
											<input id='annotatedLines' name="annotatedLines" type="hidden" :value="annotated_lines">
											<input id='mention_context' name="context" type="hidden" :value="add_entity_desc">

											<fieldset class="form-group" v-if="mentions.length">
												<div class="row">
													<legend class="col-form-label col-sm-3 pt-0">Selected Mentions</legend>
													<div class="col-sm-9">
														<div class="form-check table-scrollbar table-wrapper-scroll-y" v-if="highlighted > 0">
															<table class="table-sm table-borderless">
																<tr>
																	<th scope="col">Mention</th>
																	<th scope="col">Position in Document</th>
																</tr>
																<tr v-for="(mention, index) in mentions">
																	<td>
																		<input class="form-check-input hl_checkbox" type="checkbox" :id="index"
																			   :name="mention.text + mention.start" value="true"
																			   onchange="toggleHighlight(this)" checked>
																		<label class="form-check-label" :for="mention.text + mention.start">
																			[[mention.text]]
																		</label>
																	</td>
																	<td>
																		[[mention.start]]
																	</td>
																</tr>
															</table>
														</div>
														<div v-else>
															No Mentions Selected.<br>Names selected from the text will appear here.
														</div>
													</div>
												</div>
											</fieldset>
										</div>
									</div>
									<h4>Select Person</h4>
									<div class="form-group form-inline">
										<input type="text" id="search_entity" class="form-control ml-2" placeholder="Name">
										<button id="entity_search_btn" type="button" class="btn btn-primary ml-2" v-on:click="showEntity">
											Search Person
										</button>
									</div>
									<fieldset class="form-group" @change="switch_add_entity" v-if="entities">
										<h4>Candidates</h4>
										<div class="list-entity ml-2">
											<div class="form-check list-ltr ml-1">
												<div id="select_entity"></div>
												<input type="radio" id="nil_entity" ref="add_radio" name="entity_radio"
													   class="form-check-input" value="-1" required>
												<label for="nil_entity" class="form-check-label">Create New</label>
											</div>
										</div>
									</fieldset>
									<div class="form-group" v-if="add_entity == -1">
										<h4>Create New</h4>
										<div class="row">
											<label for="new_entity_name" class="col-sm-3 col-md-2 col-form-label required">Name: </label>
											<div class="col-sm-9 col-md-10">
												<input type="text" id="new_entity_name" name="new_entity_name" class="form-control"
													   v-model="add_entity_name" required><br>
											</div>
										</div>
										<div class="row">
											<label for="new_entity_dob" class="col-sm-3 col-md-2 col-form-label">Date of Birth: </label>
											<div class="col-sm-9 col-md-10">
												<input type="date" id="new_entity_dob" name="new_entity_dob" class="form-control">
											</div>
										</div>
										<div class="row mt-2">
											<label for="new_entity_dob" class="col-sm-3 col-md-2 col-form-label">Date of Death: </label>
											<div class="col-sm-9 col-md-10">
												<input type="date" id="new_entity_dod" name="new_entity_dod" class="form-control">
											</div>
										</div>
										<div class="row">
											<label for="new_entity_dob" class="col-sm-3 col-md-2 col-form-label required">Description: </label>
											<textarea rows="5" id="new_entity_desc" name="new_entity_desc" v-model="add_entity_desc"
													  class="form-control ml-3 mr-3" required>
										</textarea>
										</div>
									</div>

									<div class="collapse" id="entityEdit">
										<div class="form-group">
											<h4>Update Entity</h4>
											<div class="checkbox">
												<label class="form-check-label" for="checkEditName">
													Edit Name
												</label>
												<input class="checkbox style-2 pull-right" type="checkbox" value="True"
													   name="check_name" id="checkEditName">
											</div>
											<div id="editNameForm" class="row">
												<label for="edit_entity_name" class="col-sm-3 col-md-2 col-form-label required">Name: </label>
												<div class="col-sm-9 col-md-10">
													<input type="text" id="edit_entity_name" name="edit_entity_name" class="form-control"
														   value="" v-model="add_entity_name" required><br>
												</div>
											</div>
											<div class="checkbox">
												<label class="form-check-label" for="checkEditDesc">
													Edit Description
												</label>
												<input class="checkbox style-2 pull-right" type="checkbox" value="True"
													   name="check_desc" id="checkEditDesc">
											</div>
											<div id="editDescForm" class="row">
												<label for="edit_entity_desc" class="col-sm-3 col-md-2 col-form-label required">Description: </label>
												<textarea rows="5" id="edit_entity_desc" name="edit_entity_desc" v-model="add_entity_desc"
														  class="form-control ml-3 mr-3" required>
												</textarea>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<div class="row mr-auto">
										<div class="col-md-12">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
											<button type="submit" class="btn btn-primary">Link</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div id="opt-outModal" class="modal fade" role="dialog">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title">Confirm Opt-out</h4>
								<button type="button" class="close" data-dismiss="modal">&times</button>
							</div>
							<form id="opt-outForm" method="post" action="{% url 'annotate_document:opt-out' %}">
								{% csrf_token %}
								<input type="hidden" name="segment_id" value="{{document.id}}">
								<div class="modal-body">
									If you Opt-out of annotating the document it will no longer appear in your list of
									documents to annotate.
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
									<button type="submit" class="btn btn-primary">Opt-out</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="mt-4" id="document_navigation" style="min-height: 45pt">
				<div class="row">
					<div class="col-6">
						{% if prev_doc > -1 %}
							<a class="float-left btn btn-primary mb-2" href="{% url 'annotate_document:document' prev_doc %}" >Previous</a>
						{% endif %}
					</div>
					<div class="col-6 float-right" v-if="annotated==true">
						{% if next_doc > -1 %}
							<a class="float-right btn btn-primary mb-2" href="{% url 'annotate_document:document' next_doc %}">
								Next
							</a>
						{% else %}
							<a class="float-right btn btn-primary mb-2" href="{% url 'annotate_document:review' %}" >Finish</a>
						{% endif %}
					</div>
					<div class="col-6 float-right" v-if="annotated==false">
						<div class="dropdown">
							<button class="btn btn-light float-right" type="button"
									data-toggle="tooltip" data-placement="top" data-html="true"
								title="All lines should be annotated before continuing.<br>
								Please <b>check</b> the checkbox at the end of each line you have annotated.">
								Next
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			var app = new Vue({
				el: '#app',
				data: {
				    errors: [],
					document: "{{document.body}}",
					document_html: `{{document_lines|safe}}`,
					document_id: {{document.id}},
					highlight_html: `{{document_lines|safe}}`,
					mentions: [],
					prev_mentions: {{json_mentions|safe}},
					name: '',
					add_entity: "false",
					add_entity_name: '',
					add_entity_desc: '',
					highlighted: 0,
					entities: false,
					num_lines: {{num_lines}},
					annotated: {{annotated}},
					annotated_lines: "{{document.annotated_lines}}",
					highlighted_mention: '',
					delete_mention: '',
					context: ''
				},
				delimiters: ['[[',']]'],
				methods: {
					getMentions: function(){
						this.mentions = [];
						for (var pos = this.document.indexOf(this.name); pos != -1; pos = this.document.indexOf(this.name, pos+1)){
							this.mentions.push({text: this.name, start: pos});
						}
					},
					addMentions: function(){
						for (var pos = this.document.indexOf(this.name); pos != -1; pos = this.document.indexOf(this.name, pos+1)){
							this.mentions = this.mentions.filter(function(value, index, arr){
								return value.start != pos && !(value.start <= pos && pos < value.start + value.text.length);
							})
							this.mentions.push({text: this.name, start: pos});
						}
					},
					getSafeRanges: function(dangerous) {
						// Get deepest node that contains the boundary points
						var a = dangerous.commonAncestorContainer;
						// Starts -- Work inward from the start, selecting the largest safe range
						var s = new Array(0); // Safe containers for start
						var rs = new Array(0); //Safe ranges for start
						// Selects largest safe range
						if (dangerous.startContainer != a){
								for(var i = dangerous.startContainer; i != a; i = i.parentNode){
										s.push(i);
								}
						}
						// If safe containers create sage ranges
						if (0 < s.length) for(var i = 0; i < s.length; i++) {
								var xs = document.createRange();
								if (i) {
										xs.setStartAfter(s[i-1]);
										xs.setEndAfter(s[i].lastChild);
								}
								else {
										// Handel first node
										xs.setStart(s[i], dangerous.startOffset);
										xs.setEndAfter(
												(s[i].nodeType == Node.TEXT_NODE)
												? s[i] : s[i].lastChild
										);
								}
								rs.push(xs);
						}

						var e = new Array(0); // Safe containers for end
						var re = new Array(0); // Safe ranges for end
						if (dangerous.endContainer != a)
								for(var i = dangerous.endContainer; i != a; i = i.parentNode)
										e.push(i);
						if (0 < e.length) for(var i = 0; i < e.length; i++) {
								var xe = document.createRange();
								if (i) {
										xe.setStartBefore(e[i].firstChild);
										xe.setEndBefore(e[i-1]);
								}
								else {
										xe.setStartBefore(
												(e[i].nodeType == Node.TEXT_NODE)
												? e[i] : e[i].firstChild
										);
										xe.setEnd(e[i], dangerous.endOffset);
								}
								re.unshift(xe); // backfill array
						}

						// Middle -- the uncaptured middle
						// if start and end containers
						if ((0 < s.length) && (0 < e.length)) {
								var xm = document.createRange();
								xm.setStartAfter(s[s.length - 1]);
								xm.setEndBefore(e[e.length - 1]);
						}
						else {
								return [dangerous];
						}

						// Concat Start, middle and end ranges
						rs.push(xm);
						response = rs.concat(re);

						// Send to Console
						return response;
					},
					highlightRange: function(range) {
					    // Do not create for ranges only including white space
					    if (range.toString()!='' && range.toString().match(/\w+/g) !== null){
                            var newNode = document.createElement("mark");
                            newNode.id = this.highlighted;
                            range.surroundContents(newNode);
                        }
					},
					duplicate_mention: function(text, start){
						for (mention in this.mentions){
							if (this.mentions[mention].text == text && this.mentions[mention].start == start){
								return true;
							}
						}
						return false;
					},
					highlightSelection: function() {
						// Get Selection
						var userSelection = window.getSelection();
						var textboxNode = document.getElementById("document_text")

						// Check highlighted text is not outside the text box
						if (!textboxNode.contains(userSelection.getRangeAt(0).commonAncestorContainer)){
							return null;
						}

						var range = this.word_range(userSelection);

						this.highlighted += 1;
						$('div.hlMenu').fadeOut(200);
						var selected_text = userSelection.toString();
						newHighlight=true;
						app.clearHighlight = false;
						var safeRanges = this.getSafeRanges(range);
						for (var i = 0; i < safeRanges.length; i++) {
								this.highlightRange(safeRanges[i]);
						}
						highlighted_text = document.getElementById("document_text").innerHTML
						mark_index = highlighted_text.indexOf(`<mark id="${this.highlighted}">`)
						console.log("Mark Index: " + mark_index)
						substring = this.stripHTML(highlighted_text.slice(0, mark_index))
						// If not a duplicate mention add it to mention list
						match_regex = new RegExp(selected_text, 'g');
						mention_matches = substring.match(match_regex);
						console.log(mention_matches)
						occurrence = mention_matches==null ? 1:mention_matches.length + 1
						console.log("Occurrence: " + occurrence)
						start_pos = substring.length;
						new_text = this.stripHTML(range.toString()).trim().replace(/\s+/g, ' ');
						if (!this.duplicate_mention(new_text, start_pos)){
                        	this.mentions.push({text: new_text.replace(/\s+/g, ' '),
                                            start: start_pos, occurrence: occurrence});
						}

                        // Get entity description
						this.add_entity_desc = this.document.slice(
							Math.max(0, this.document.lastIndexOf(' ', start_pos-1000)+1),
							this.document.indexOf(' ', start_pos+500) == -1 ?
								this.document.length : this.document.indexOf(' ', start_pos+500) + 1
						)


                        if (userSelection.empty) {  // Chrome
							userSelection.empty();
						} else if (userSelection.removeAllRanges) {  // Firefox
							userSelection.removeAllRanges();
						}
						$("#search_entity").val(new_text.slice(0, 3));
						$("#entity_search_btn").click();
						showMenu();
					},
					stripHTML(text){
						return text.replace(/<\/?.*?>/ig, '')
					},
					reset: function(){
                        this.highlighted = 0;
						$("mark:not([class])").contents().unwrap()
                        this.mentions = [];
                    },
                    showEntity(){
                        this.entities = true;
                    },
					switch_add_entity(){
						if (this.$refs["add_radio"].checked) {
							this.add_entity = "-1";
						} else {
							this.add_entity = "false";
						}
					},
					highlight: function(){
						span = '(<\/?span.*?>)?'
						if (this.name != null){
							var search = new RegExp('\\b' + prev_mention.text + '\\b', "g")//new RegExp(span + this.name.split(' ').join(span + ' ' + span) + span, 'g')
							this.highlight_html = this.document_html;
							this.highlight_html = this.highlight_html.replace('/'+search+"/g",
								'<span class="highlightText">' + this.name + '</span>');
						}
					},
					get_mention_link(text, pos){
						for (i in this.prev_mentions){
							mention = this.prev_mentions[i];
							if (mention.mention__text == text && mention.mention__start_position == pos){
								return mention.entity__name;
							}
						}
						return '';
					},
					check_annotated: function(){
						// Check if all lines have been annotated
						s = 0
						now_annotated = []
						for (i = 0 ; i < this.num_lines; i++){
							if (document.getElementById(`line-${i}`).checked){
								s += 1;
								now_annotated += '1';
							} else {
								now_annotated += '0';
							}
						}
						this.annotated = s == this.num_lines;
						this.annotated_lines = now_annotated;
					},
					word_range: function(selection, word_level=false){
						// Use character level highlighting
						if (!word_level){
							return selection.getRangeAt(0);
						}

						var startNode = selection.anchorNode
						var startOffset = selection.anchorOffset
						var endNode = selection.focusNode
						var endOffset = selection.focusOffset

						// Clip to word boundaries
						var range = document.createRange();
						var r = selection.getRangeAt(0);
						range.setStart(r.startContainer, r.startContainer.textContent.lastIndexOf(' ', r.startOffset) + 1)
						if (r.endContainer.textContent.charAt(r.endOffset).trim() != ''){
							offset = r.endContainer.textContent.indexOf(' ', r.endOffset)
							offset = offset == -1 ? r.endOffset:offset
							console.log(r.endContainer.textContent.charAt(r.endOffset).trim() + " " + offset)
							range.setEnd(r.endContainer, offset);
						} else {
							range.setEnd(r.endContainer, r.endOffset);
						}
						return range;
					},
					checkForm: function(e) {
					    if (this.mentions.length > 0 &&
					        (this.add_entity == "false" |
					        (this.add_entity == "-1" && this.add_entity_name.length > 0
					         && this.add_entity_desc.length>0))) {
					        return true;
					    }

					    this.errors = [];

					    if (this.mentions.length == 0){
					        this.errors.push("No Mentions Selected");
					    }

					    if (this.add_entity && !this.add_entity_name) {
                            this.errors.push("No name given for new entity")
					    }

					    if (this.add_entity && !this.add_entity_desc) {
                            this.errors.push("No description given for new entity")
					    }

					    e.preventDefault();
					}

				}
			})

		</script>

		<script>
			// Search for entities
			$("#entity_search_btn").click(function () {
				const search_entity = $("#search_entity").val();
				$.ajax({
					type: "POST",
					url: '{% url "annotate_document:search" %}',
					data: {
						'search_entity': search_entity,
						'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
					},
					success: function (data) {
						let html_data = '';
						data.forEach(function (data) {
							let alias_list = "";
							data.alias.split(",").forEach(function (alias) {
								alias = alias.trim()
								if (alias.length > 1){alias_list += "<li>" + alias;}
							})
							html_data += `<input type="radio" id="${data.id}" value="${data.id}"
							name="entity_radio" class="form-check-input">
							<label for="data.id" class="form-check-label">${data.name}</label>
							<a href="#entityDesc${data.id}" data-toggle="collapse" aria-expanded="false",
								aria-controls="entityDesc${data.id}">Description</a>
							<a href="#entityAlias${data.id}" class="ml-2" data-toggle="collapse" aria-expanded="false",
								aria-controls="entityAlias${data.id}">Aliases</a>
							<a href="#entityEdit" class="btn btn-sm btn-primary editEntity ml-2" data-toggle="collapse" aria-expanded="false",
								id="entityEditBtn${data.id}" aria-controls="entityEdit" style="display:none;">Suggest Edit</a><br>

							<div class="collapse" id="entityDesc${data.id}">
							<div class="card card-body p-1 mb-1">${data.description}</div>
							</div>
							<div class="collapse" id="entityAlias${data.id}">
							<div class="card card-body p-0 pt-1 mb-1"><ul>${alias_list}</ul></div>
							</div>`;

						});
						$("#select_entity").html(html_data);
					}
				});
			});

		</script>
		<script src="{% static 'annotate_document/annotate.js' %}" type="text/javascript"></script>
	</body>
{% endblock %}
