{% extends 'annotate_document/base.html' %}

{% block header %}
		<h1>Project Overview</h1>
{% endblock %}

{% block content %}
<h2>Project Description</h2>
<p>
    It is not always clear which person a name is referring to. This could be because many people share the same name or
    because one person has multiple names. Working out who us being referred to within historical documents can be a
    major issue especially when there are thousands of documents where this occurs. One way to try and solve this problem
    is to train computer programs to automatically detect names and determine to whom they refer. However, programs like
    this require large amounts of data.
</p>

<h2> How does this survey fit in?</h2>
<p>
    In order to learn to detect names and associate them with a person the program requires many examples of people's
    names and to whom they refer. In this survey you will be required to identify people names from within some text and
    "<b>link</b>" them to the people to whom they refer. For example the names Shaka Zulu and King Shaka refer to the same
    person.
</p>

<h2>Document Text</h2>
<p>The texts used are collected by using Optical Character Recognition (OCR) to extract the text from scanned PDFs of
    the historical documents. Unfortunately, the OCR process tends to introduce a number of errors in the text and it is
    infeasible to manually remove all errors. Please try and ignore the OCR errors as far as possible</p>

<h2>Payment</h2>
<p>
    You will be paid based on the number of links you create at a rate of <b>R 0.60 per link</b>. Since different documents contain different amounts of
    names they will be randomly assigned to participants. Every document will be given to at least three users.
    A link will only be created when all three users create the same link between a name and a person. Thus,
    you wil only be paid for links you create that are in agreement with links created by other users. Once all the
    documents have been annotated you will receive an SMS with a code which can be used to receive your payment.
</p>

<div class="row">
    <div class="col-12">
        <a  class="btn btn-primary float-right mb-2" href="{%url 'annotate_document:instructions' %}">Continue</a>
    </div>
</div>
{% endblock %}