{% extends 'annotate_document/video_base.html' %}

{% block instructions %}
<div class="row">
    <div class="col-12">
        <p>
            Please watch the short video to see how to use the system to link names to the people to whom they refer.<br>
            Once you have watch the video you will be able to move on to the tutorial.
        </p>
    </div>
</div>
{% endblock %}

{% block navigation %}
<div class="row">
    <div class="col-6">
        <a  id="prev_btn" class="btn btn-secondary mb-2 mt-2 float-left" href="{%url 'annotate_document:info' %}">Back</a>
    </div>
    <div class="col-6 float-right">
        <a  id="next_btn" class="btn btn-primary mb-2 mt-2 float-right {% if not user.profile.tutorial_video %}hide{% endif %}" href="{%url 'annotate_document:updateInstructions' %}">Start Tutorial</a>
    </div>
</div>
{% endblock %}