{% extends 'annotate_document/base.html' %}

{% block header %}
<h1>Annotation Invitation</h1>
{% endblock %}

{% block content %}
<p>
    Help make history! We need you to help rediscover and decolonialise South African history. One of the issues when studying South African history is that the same people are often referred to by different names depending on the author. Thus determining to whom a name refers would be highly beneficial for understanding and decolonialising South African history.
</p>
<p>
    As part of my master’s dissertation, I will be exploring the performance of Artificial Intelligence (AI) in determining to whom a name refers (name disambiguation). This system will be evaluated by comparing its results to manually linked names.
</p>
<p>
    This is a request for volunteers to annotate documents by identifying names and linking them to the people they refer. The survey should take around 45 minutes to an hour to complete, although you can process more documents if you would like to. Participants will be paid based on the number of links and should receive around R55 per hour.
</p>

<p>
    Participant Requirements:
    <ul>
        <li>Since some of the documents are in isiZulu participants must be fluent in isiZulu.</li>
        <li>Participants must also be over the age of 18.</li>
        <li>To be paid participants must have a South African cellphone number.</li>
        <li>Access to a computer or laptop to complete the survey.</li>
    </ul>
</p>

<p>
A website has been created for creating links between names and people. To participate in this survey, please sign up here: <a href="https://annotator.weblathe.net/signup">https://annotator.weblathe.net/signup</a>.
</p>
<p>
    Your participation is entirely voluntary and you can choose to quit the survey at any time before submitting it. This research has been approved by the Faculty Research Committee.

</p>

<p>
Should you have any questions regarding this survey or the research project, please feel free to contact me at <a href="mailto: dnnjar001@myuct.ac.za">dnnjar001@myuct.ac.za</a>.

</p>
Yours sincerely<br><br>
Jarryd Dunn
{% endblock %}
