{% extends 'annotate_document/base.html' %}
{% load annotate_extras %}

{% block header %}
		<h1>Review</h1>
{% endblock %}

{% block content %}
<p>
    {% if incomplete_documents%}
        <h3>Please finish annotating the following documents</h3><br>
        <table class="table table-borderless">
            <thead class="thead-light">
            <tr>
                <th scope="col">Document</th>
                <th scope="col">Complete</th>
                <th scope="col">Unannotated Lines</th>
            </tr>
            </thead>
            {% for document in incomplete_documents %}
            <tr>
                <td><a href="{%url 'annotate_document:document' document.document.id %}">{{ document.document.title }}</a></td>
                <td>{% if '0' in document.annotated_lines %} NO {% else %} YES {% endif %}</td>
                <td>{% if '0' in document.annotated_lines %}{{document.annotated_lines|count:"0"}}{% endif %}</td>
            </tr>
            {% empty %}
            <li>No documents yet.</li>
            {% endfor %}
        </table>
    {% else %}
        <h3>Thank You, you have annotated all the documents allocated to you!</h3><br>
        <div class="row">
            <div class="col-md-9">
                <form id=”resultsForm” method="post" class="form pb-2 ml-2">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-10">
                            <label for="receiveRes">
                                Would you like to receive information about the results of this project?
                            </label>
                        </div>
                        <div class="col-md-2 float-left">
                            <select name="receiveResults" class="form-control ml-2 mr-2 float-left" id="receiveRes">
                                <option value="Yes" {% if receive_res %}selected{% endif %}>Yes</option>
                                <option value="No" {% if not receive_res %}selected{% endif %}>No</option>
                            </select>
                        </div>
                    </div>
                    <div id="email_form" style="display:none">
                        <div class="row mt-2">
                            <div class="col-md-1">
                                <lable for="emailRes">Email</lable>
                            </div>
                            <div class="col-md-11">
                                <input id="emailRes" type="email" class="form-control ml-2 mr-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button id="email_btn" type="button" class="btn btn-primary mt-2">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div id="receiveResponse"></div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                To go back to a continue annotating a document please click here: <a href="{% url 'annotate_document:document-list' %}">Document List</a><br>
                {% if not annotation_complete %}
                    To annotate another document click here: <a href="{% url 'annotate_document:addDocument' %}">Annotate New Document</a><br>
                {% endif %}
                Otherwise please click here to finish: <a href="{% url 'annotate_document:complete' %}">Finish</a>
            </div>
        </div>
    {% endif %}
</p>

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $("#email_btn").click(function () {
        const receiveRes = $("#receiveRes").val();
        const emailRes = $("#emailRes").val();
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "annotate_document:updateReceiveRes" %}',
            data: {
                'receiveRes': receiveRes,
                'email': emailRes,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                var message = "You will receive feedback on the results of this project.";
                $("#receiveResponse").html("<p>Your choice has been updated. <br>" + message +"</p>");
            }
        });
    });

    $("#receiveRes").change(function () {
        if ($("#receiveRes").val() == "No"){
            $.ajax({                       // initialize an AJAX request
                type: "POST",
                url: '{% url "annotate_document:updateReceiveRes" %}',
                data: {
                    'receiveRes': "No",
                    'email': '',
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    message = "You will <b>not</b> recieve feedback on the results of this project.";
                    $("#receiveResponse").html("<p>Your choice has been updated. <br>" + message +"</p>");
                }
            });
        }
    });

    $("#receiveRes").change(function () {
        if ($("#receiveRes").val() == "Yes") {
            $("#email_form").show();
            $("#receiveResponse").html('');
        } else {
            $("#email_form").hide();
            $("#receiveResponse").html('');
        }
    });
</script>
{% endblock %}