{% extends 'annotate_document/base.html' %}
{% load annotate_extras %}

{% block header %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% if documents_remaining %}
    <h1>Register</h1>
{% else %}
    <h1>Survey Completed</h1>
{% endif %}
{% endblock %}

{% block content %}
    {% if documents_remaining %}
        <div class="row">
            <div class="col-md-12">
            <h2>Sign up</h2>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="answer1" value="{{a1.english}}">
                <input type="hidden" name="answer2" value="{{a2.english}}">
                <div class="form-group">
                    <input id="name_field" type="hidden" name="lang_disclaimer" value="False">
                    {{ form.username.label_tag }}<br>
                    <small>{{ form.username.help_text }}</small><br>
                    {{ form.username }}<br>
                    {% for error in form.username.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    Cellphone Number
                    <br><small>{{ form.phone_number.help_text }}</small><br>
                    {{ form.phone_number }}
                    <small>Your cellphone number will only be used to pay you for your contributions.</small><br>
                    {% for error in form.phone_number.errors %}
                     <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.password1.label_tag }}<br>
                    {{ form.password1 }}
                    <br><small>{{ form.password1.help_text }}</small><br>
                    {% for error in form.password1.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                    {{ form.password2.label_tag }}<br>
                    {{ form.password2 }}
                    {% for error in form.password2.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.consent.label_tag }} {{ form.consent }}<br>
                    Confirm that you have read the
                    <a href="#consentModal" data-toggle="modal" data-target="#consentModal">Consent Form</a>
                    and give consent for your participation in this survey.

                    {% for error in form.consent.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{ form.consentTerms.label_tag }} {{ form.consentTerms }}<br>
                    Required. Confirm that you have read and agreed to the
                    <a href="#privacyModal" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a>
                    and <a href="#termsModal" data-toggle="modal" data-target="#termsModal">Terms and Conditions</a>.
                    {% for error in form.consent.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <h2>Language Check</h2>
                    Some of the documents are in isiZulu and some of the names used in the english documents are of Zulu origin.
                    Thus participants need to be able to understand isiZulu.
                    By answering these questions provides a quick view of your readiness to contribute to this project.<br>
                    <br>
                    Please select the correct translation for the following Zulu texts:
                    <fieldset>
                        {{ a1.zulu }}
                        {% for q in q1 %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question1" id="q1-{{forloop.counter}}" value="{{q.english}}" required>
                            <label class="form-check-label" for="q1-{{forloop.counter}}">
                                {{ q.english }}
                            </label>
                        </div>
                        {% endfor %}
                    </fieldset>
                    <br>
                    <fieldset>
                        {{ a2.zulu }}
                        {% for q in q2 %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="question2" id="q2-{{forloop.counter}}" value="{{q.english}}" required>
                            <label class="form-check-label" for="q2-{{forloop.counter}}">
                                {{ q.english }}
                            </label>
                        </div>
                        {% endfor %}
                    </fieldset>
                </div>
              <button class="btn btn-primary" type="submit">Sign up</button>
            </form>
            <p class="mt-2 pb-2">Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>

        <!-- Consent Modal -->
        <div id="consentModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Informed Voluntary Consent to Participate in Research Study</h4>
                        <button type="button" class="close" data-dismiss="modal">&times</button>
                    </div>
                    <div class="modal-body">
                        <h3>Evaluating Automated and Hybrid Neural Disambiguation for African Historical Named Entities</h3>
                        <b>Invitation to participate, and benefits:</b>
                        <p>You are invited to participate in a research study. The study aim is to annotate text by linking mentions of
                            people to database records for the person they refer to. I believe that your experience would be a valuable
                            source of information, and hope that by participating you may gain useful knowledge.</p>
                        <b>Procedures:</b>
                        <p>During this study, you will be asked to log into a system and annotate sections of text. This will involve
                            selection mentions of people’s names from within the text then using the system to search for the person. If no results can be found, then you will be prompted to create an entry for the person the name refers.
                            Risks: There are no potentially harmful risks related to your participation in this study.</p>
                        <b>Feedback:</b>
                        <p>You will receive feedback about the results of this research by selecting the option to receive feedback
                            when registering with the system.</p>
                        <b>Disclaimer/Withdrawal:</b>
                        <p>Your participation is completely voluntary; you may refuse to participate, and
                            you may withdraw at any time without having to state a reason and without any prejudice or penalty against you.
                            Should you choose to withdraw, the researcher commits not to use any of the information you have provided
                            without your signed consent. Note that the researcher may also withdraw you from the study at any time.</p>
                        <b>Confidentiality:</b>
                        <p>All information collected in this study will be kept private in that you will not be identified by name or
                            by affiliation to an institution. Confidentiality and anonymity will be maintained as pseudonyms will be
                            used.</p>
                        <b>What Agreeing to this form means:</b>
                        <p>By agreeing to this consent form, you agree to participate in this research study. The aim, procedures to be
                            used using this form. Refusal to participate in or withdrawal from this study at any time will have
                            no effect on you in any way. You are free to contact the researcher, to ask questions or request further information,
                            at any time during this research.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Privacy Modal -->
        <div id="privacyModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Privacy Policy</h4>
                        <button type="button" class="close" data-dismiss="modal">&times</button>
                    </div>
                    <div class="modal-body">
                        <p>Welcome to Annotator.Weblathe.net (“the Website”).</p>
                        <p>When you use the Website we may request certain information of you, including some personal information,
                            which is protected by applicable law (for example the Protection of Personal Information Act (“POPI Act”).</p>
                        <p>This Privacy Policy is intended to help you understand what information we collect, why we collect it, and how
                            you can update, manage, export and delete your information. We take your right to privacy seriously!</p>
                        <p>The information which we collect, store, manage and process is the data that you yourself have provided, and
                            we willl only use this data for the purposes for which you have expressly provided it.  We may also monitor
                            your use of the Website, which data we will use to manage and improve the functionality of this Website.</p>
                        <p>We undertake to look after, store, manage and process your data using the same standards as we use to store,
                            manage and process our own private and confidential information.</p>
                        <p>We commit never to sell or share any of your data, nor use it for any purpose other  than that to which you
                            have authorised us.</p>
                        <p>Should you wish us to delete your data we will do so upon request, and if not obliged to retain it in terms
                            of any legal obligations.</p>
                        <p>Please note that this Website uses  the cloud and therefor your data may be stored, managed and processed
                            offshore, which you hereby consent to as and when you use the Website.</p>
                        <p>Should you have any requests, queries or complaints you may email us at
                            <a href="mailto:{% settings_value 'EMAIL_ADMIN' %}">{% settings_value "EMAIL_ADMIN" %}</a>.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Terms Modal -->
        <div id="termsModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">User Terms and Conditions</h4>
                        <button type="button" class="close" data-dismiss="modal">&times</button>
                    </div>
                    <div class="modal-body">
                        <p>Welcome to Annotator.Weblathe.net (“the Website”).</p>
                        <p>In using the Website, you warrant and represent that you are 18 years old or older, or are duly assisted by
                            your legal guardian who consents thereto.</p>
                        <p>This Website is made available for you to use on an “as-is” basis and in good faith.  We make no
                            representations as to “fit for purpose” or that it is free of bugs, viruses, malware or the like.
                            You accordingly make use of the Website and its services at your own risk, to the full extent allowed
                            by applicable law.</p>
                        <p>Furthermore, we may terminate the operation of the Website at any time in our sole discretion, with or
                            without cause and with or without notice.  In such circumstances, our sole liability to you will be to make
                            payment of any amount contractually owing to you from time to time for work performed.</p>
                        <p>Nothing in these terms and conditions and/or any use of the Website, is intended or should be construed as
                            creating a contract of employment, a partnership, or a joint venture, between you and us.  Any work done is
                            performed on a “work-for-hire” basis and we will own all work product that you have submitted and have been
                            paid for (if applicable).</p>
                        <p>You may only have one User account and you shall be responsible for any activity that occurs through your
                            account and you warrant that all information that you enter onto Website is and will be true, accurate,
                            current and complete and done so in good faith.</p>
                        <p>Your use of this Website is subject to the terms of our Privacy Policy.</p>
                        <p>You may not use the Website for any illegal or unauthorized purpose.</p>
                        <p>Neither the Website, its host, owner or operator shall be liable for any claims arising from your use of the
                            Website, save to the extent that we may be contractually bound to make a payment to you for work completed,
                            or if we have acted unlawfully in breach of applicable laws.  In any event, our liability is limited to
                            direct damages only and under no circumstances shall we be liable for indirect or consequential damages,
                            including but not limited loss of revenue or profits or pure economic loss.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Language Policy Disclaimer -->
        <div id="langModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Language Disclaimer</h4>
                    </div>
                    <div class="modal-body">
                        The document sections that you may be asked to annotate are extracted from historical documents
                        written over the last 300 years. Some of the words used and views expressed in these documents
                        may be deemed to be racist, sexist, colonialist or otherwise offensive. We do not endorse or
                        support such views. However, we recognise that these documents contain important historical
                        information of interest to scholars and the public. Our goal is only to develop tools that
                        support critical study and engagement with this information.<br>
                        However, if you object to the contents of a document you will have the option to opt-out of
                        annotating the document.
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'login' %}" class="btn btn-danger">Reject</a>
                        <button type="button" class="btn btn-success" onclick="set_true()" data-dismiss="modal">Accept</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        Thank you for your interest but unfortunately all the documents have been processed.
    {% endif %}
    <script type="text/javascript">
        $(window).on('load', function() {
            $('#langModal').modal('show');
        });

        function set_true(){
            console.log("Set true");
            $('#name_field').val("True");
        }
    </script>
{% endblock %}