{% extends 'annotate_document/base.html' %}

{% block header %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
{% endblock %}
{% block navList %}
<li></li>
{% endblock %}
{% block content %}
<body>
<div class="row">
    <div class="col-12">
        <h1>Tutorial</h1>
    </div>
</div>
<div id="app" v-cloak>
    <div class="row">
        <div class="col-md-8">
            <h3> Instruction: </h3>
        </div>
        {% if user.profile.tutorial %}
            <div class="col-md-4 float-right">
                <a class="float-right btn btn-primary mb-2" href="{% url 'annotate_document:index' %}">
                    Skip Tutorial
                </a>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-12">
            <p v-html="instruction"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h3> Tutorial Document </h3>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-12">
                    <a class="float-right" href="{% url 'annotate_document:help' %}">Help</a>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <span class="float-right"> Document 1 of 1 </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="position: relative">
        <div id="documentPanel" class="col-md-12">
            <div class="col-md-12">
                <span v-if="highlighted<1">Select a name (including titles e.g King) then click "Highlight" to begin.</span>
                <p v-html="highlight_html" class="solid" id="document_text">
                <div id="hlMention" class="hlMenu">
                    <span class="ml-1">Selected: "[[name]]"</span>
                    <button v-on:click="highlightSelection" class="btn btn-primary m-1">Highlight</button>
                </div>
                <div id='rmMention' class="hlMenu">
                    <span class="ml-1">Linked to: Shaka kaSenzangakhona</span>
                    <button id="delete_btn" class="btn btn-danger m-1">Delete</button>
                </div>
                </p>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <button v-if="highlighted>0" v-on:click="reset" class="btn btn-primary">Clear</button>
                    <button id="entity_btn" class="notification btn btn-primary" onclick="showMenu()"
                       :disabled="highlighted>0 ? false:true">
                        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Please select a name first"
                              v-if="highlighted<1">
									Link
								</span>
                        <span v-else>Link</span>
                        <span class="badge" v-bind:class="{hide: (mentions.length<1)}">[[mentions.length]]</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="entityModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Select Person</h4>
                        <button type="button" class="close" data-dismiss="modal">&times</button>
                    </div>

                    <form id="link" @submit="checkForm">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3> Instruction: </h3>
                                </div>
                            </div>
                            <div class="row" v-if="step==1 || step==3">
                                <div class="col-12">
                                    <p v-html="modal_instruction"></p>
                                </div>
                            </div>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <p v-if="errors.length">
                                        <b>Please correct the following error(s):</b>
                                    <ul>
                                        <li v-for="error in errors">[[ error ]]</li>
                                    </ul>
                                    </p>

                                    <fieldset class="form-group" v-if="mentions.length">
                                        <div class="row">
                                            <legend class="col-form-label col-sm-3 pt-0">Selected Mentions</legend>
                                            <div class="col-sm-9">
                                                <div class="form-check" v-if="highlighted > 0">
                                                    <table class="table table-borderless">
                                                        <tr>
                                                            <th scope="col">Mention</th>
                                                            <th scope="col">Position in Document</th>
                                                        </tr>
                                                        <tr v-for="(mention, index) in mentions">
                                                            <td>
                                                                <input class="form-check-input hl_checkbox" type="checkbox" :id="index"
                                                                       :name="mention.text + mention.start" value="true"
                                                                       onchange="toggleHighlight(this)" checked>
                                                                <label class="form-check-label" :for="mention.text + mention.start">
                                                                    [[mention.text]]
                                                                </label>
                                                            </td>
                                                            <td>
                                                                [[mention.start]]
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div v-else>
                                                    No Mentions Selected.<br>Names selected from the text will appear here.
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <h4>Select Person</h4>
                            <div class="form-group form-inline">
                                <input type="text" id="search_entity" class="form-control ml-2" placeholder="Name">
                                <button id="entity_search_btn" type="button" class="btn btn-primary ml-2" v-on:click="showEntity">
                                    Search Person
                                </button>
                            </div>
                            <fieldset class="form-group" @change="switch_add_entity" v-if="entities">
                                <h4>Candidate Entities</h4>
                                <div class="list-entity ml-2">
                                    <div class="form-check list-ltr ml-1">
                                        <div id="select_entity"></div>
                                        <input type="radio" id="nil_entity" ref="add_radio" name="entity_radio"
                                               class="form-check-input" value="-1" required>
                                        <label for="nil_entity" class="form-check-label">Create New</label>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group" v-if="add_entity == -1">
                                <h4>Create Person Entry</h4>
                                <div class="row">
                                    <label for="new_entity_name" class="col-sm-3 col-md-2 col-form-label required">Name: </label>
                                    <div class="col-sm-9 col-md-10">
                                        <input type="text" id="new_entity_name" name="new_entity_name" class="form-control"
                                               v-model="add_entity_name" required><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="new_entity_dob" class="col-sm-3 col-md-2 col-form-label">Date of Birth: </label>
                                    <div class="col-sm-9 col-md-10">
                                        <input type="date" id="new_entity_dob" name="new_entity_dob" class="form-control">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <label for="new_entity_dob" class="col-sm-3 col-md-2 col-form-label">Date of Death: </label>
                                    <div class="col-sm-9 col-md-10">
                                        <input type="date" id="new_entity_dod" name="new_entity_dod" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="new_entity_dob" class="col-sm-3 col-md-2 col-form-label required">Description: </label>
                                    <textarea rows="5" id="new_entity_desc" name="new_entity_desc" v-model="add_entity_desc"
                                              class="form-control ml-3 mr-3" required>
										</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row mr-auto">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" v-on:click="mock_link" class="btn btn-primary">Link</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4" id="document_navigation" style="min-height: 45pt">
        <div class="row">
            <div class="col-12 float-right" v-if="annotated==true && step==4">
                <a class="float-right btn btn-primary mb-2" href="{% url 'annotate_document:updateTutorial' %}">
                    Start Survey
                </a>
            </div>
        </div>
    </div>
</div>

<script>
			var app = new Vue({
				el: '#app',
				data: {
				    instruction: "To create a link start by selecting a person's name from the text box below.<br>"
                + " You try: <ol><li>Select 'Shaka kaSenzangakhona' from the textbox below<li>Click Highlight.",
                    modal_instruction: '',
                    step: 0,
				    errors: [],
					document: "Shaka kaSenzangakhona (c. July 1787 – 22 September 1828), also known as Shaka Zulu, was the King of the Zulu Kingdom from 1816 to 1828",
                    document_html: "Shaka kaSenzangakhona (c. July 1787 – 22 September 1828), also known as Shaka Zulu,<input type='checkbox' class='annotate_checkbox float-right mr-2' id='line-1' value=1 onclick='app.check_annotated()'><br>"
                        + " was the King of the Zulu Kingdom from 1816 to 1828.<input type='checkbox' class='annotate_checkbox float-right mr-2' id='line-2' value=1 onclick='app.check_annotated()'><br>",
					highlight_html: "Shaka kaSenzangakhona (c. July 1787 – 22 September 1828), also known as Shaka Zulu,<input type='checkbox' class='annotate_checkbox float-right mr-2' id='line-1' value=1 onclick='app.check_annotated()'><br>"
                        + " was the King of the Zulu Kingdom from 1816 to 1828.<input type='checkbox' class='annotate_checkbox float-right mr-2' id='line-2' value=1 onclick='app.check_annotated()'><br>",
					mentions: [],
					prev_mentions: [],
					name: '',
					add_entity: "false",
					add_entity_name: '',
					add_entity_desc: '',
					highlighted: 0,
					entities: false,
					num_lines: 2,
					annotated: false,
					annotated_lines: "00",
					search_entity: '',
					highlighted_mention: '',
					delete_mention: ''
				},
				delimiters: ['[[',']]'],
				methods: {
				    mock_link: function(){
                        if (this.step == 3){
                            this.highlight_html = this.highlight_html.replace('/Shaka kaSenzangakhona/g',
                                '<mark id="prev-0" class="green">Shaka kaSenzangakhona</mark>')
                            this.highlight_html = this.highlight_html.replace('/Shaka Zulu/g',
                                '<mark id="prev-1" class="green">Shaka Zulu</mark>')
                            this.prev_mentions = ["Shaka kaSenzangakhona", "Shaka Zulu"]
                            this.step += 1
                            this.instruction = "The names you've already linked are highlighted green.<br>"
                                + "<b>Checking Linked Names</b><br>"
                                + "Clicking on a linked name will show who the name refers to. If this is incorrect it"
                                + " can be deleted by clicking on the <b>Delete</b> button."
                                + "<b>Marking rows as complete</b><br> Once you've linked "
                                + "all of the mentions in a row click on the check box on the right hand side to mark the line as "
                                + "completed.<br> Since there are no more mentions to link you can check the boxes for both lines."
                                + " once all the boxes are checked a button to the next document to annotate will appear. However,"
                                + " since this is a tutorial it will take you to the first document that needs to be annotated."
                                + "<br>You try: <ol><li>Click the check boxes at the end of each row."
                                + "<li>Click <b>Start Survey</b> to complete the tutorial and start the survey.</ol>"

                        }
                        this.mentions = []
                        $("#entityModal").modal("hide");
                    },
					getMentions: function(){
					    console.log(this.name)
						this.mentions = [];
						for (var pos = this.document.indexOf(this.name); pos != -1; pos = this.document.indexOf(this.name, pos+1)){
							this.mentions.push({text: this.name, start: pos});
						}
					},
					addMentions: function(){
					    console.log(this.name)
						for (var pos = this.document.indexOf(this.name); pos != -1; pos = this.document.indexOf(this.name, pos+1)){
							this.mentions = this.mentions.filter(function(value, index, arr){
								return value.start != pos && !(value.start <= pos && pos < value.start + value.text.length);
							})
							this.mentions.push({text: this.name, start: pos});
						}
					},
					getSafeRanges: function(dangerous) {
						// Get deepest node that contains the boundary points
						var a = dangerous.commonAncestorContainer;
						// Starts -- Work inward from the start, selecting the largest safe range
						var s = new Array(0); // Safe containers for start
						var rs = new Array(0); //Safe ranges for start
						// Selects largest safe range
						if (dangerous.startContainer != a){
								for(var i = dangerous.startContainer; i != a; i = i.parentNode){
										s.push(i);
								}
						}
						// If safe containers create sage ranges
						if (0 < s.length) for(var i = 0; i < s.length; i++) {
								var xs = document.createRange();
								if (i) {
										xs.setStartAfter(s[i-1]);
										xs.setEndAfter(s[i].lastChild);
								}
								else {
										// Handel first node
										xs.setStart(s[i], dangerous.startOffset);
										xs.setEndAfter(
												(s[i].nodeType == Node.TEXT_NODE)
												? s[i] : s[i].lastChild
										);
								}
								rs.push(xs);
						}

						var e = new Array(0); // Safe containers for end
						var re = new Array(0); // Safe ranges for end
						if (dangerous.endContainer != a)
								for(var i = dangerous.endContainer; i != a; i = i.parentNode)
										e.push(i);
						if (0 < e.length) for(var i = 0; i < e.length; i++) {
								var xe = document.createRange();
								if (i) {
										xe.setStartBefore(e[i].firstChild);
										xe.setEndBefore(e[i-1]);
								}
								else {
										xe.setStartBefore(
												(e[i].nodeType == Node.TEXT_NODE)
												? e[i] : e[i].firstChild
										);
										xe.setEnd(e[i], dangerous.endOffset);
								}
								re.unshift(xe); // backfill array
						}

						// Middle -- the uncaptured middle
						// if start and end containers
						if ((0 < s.length) && (0 < e.length)) {
								var xm = document.createRange();
								xm.setStartAfter(s[s.length - 1]);
								xm.setEndBefore(e[e.length - 1]);
						}
						else {
								return [dangerous];
						}

						// Concat Start, middle and end ranges
						rs.push(xm);
						response = rs.concat(re);

						// Send to Console
						return response;
					},
					highlightRange: function(range) {
					    // Do not create for ranges only including white space
					    if (range.toString()!='' && range.toString().match(/\w+/g) !== null){
                            var newNode = document.createElement("mark");
                            newNode.id = this.highlighted;
                            range.surroundContents(newNode);
                        }
					},
					duplicate_mention: function(text, start){
						for (mention in this.mentions){
							if (this.mentions[mention].text == text && this.mentions[mention].start == start){
								return true;
							}
						}
						return false;
					},
                    highlightSelection: function() {
                        // Get Selection
                        var userSelection = window.getSelection();
                        const selected = userSelection.toString()
                        console.log("Selected: " + selected)
                        if ((this.step == 0 && selected == "Shaka kaSenzangakhona") ||
                            (this.step == 1 && selected == "Shaka Zulu")){
                            var textboxNode = document.getElementById("document_text")

                            // Check highlighted text is not outside the text box
                            if (!textboxNode.contains(userSelection.getRangeAt(0).commonAncestorContainer)){
                                return null;
                            }

                            this.highlighted += 1;
                            $('div.hlMenu').fadeOut(200);
                            newHighlight=true;
                            app.clearHighlight = false;
                            var safeRanges = this.getSafeRanges(userSelection.getRangeAt(0));
                            for (var i = 0; i < safeRanges.length; i++) {
                                            this.highlightRange(safeRanges[i]);
                            }
                            highlighted_text = document.getElementById("document_text").innerHTML
                            mark_index = highlighted_text.indexOf(`<mark id="${this.highlighted}">`)
                            substring = highlighted_text.slice(0, mark_index)
                            start_pos = this.stripHTML(substring).length;
                            console.log("Text: " + this.stripHTML(selected) + '['+selected+']')
                            this.mentions.push({text: this.stripHTML(selected),
                                start: start_pos});

                            if (this.document.indexOf('.') == -1){
                                    this.add_entity_desc = this.document.slice(
                                            Math.max(0, this.document.lastIndexOf(' ', start_pos-110)+1),
                                            Math.min(this.document.length, this.document.indexOf(' ', start_pos+110))+1
                                    )
                            } else {
                                    this.add_entity_desc = this.document.slice(
                                            Math.max(0, this.document.lastIndexOf('.', start_pos-100)+1),
                                            Math.min(this.document.length, this.document.indexOf('.', start_pos+100))+1
                                    )
                            }

                            if (this.step == 0) {
                                    this.modal_instruction = "From the <b>Select Person</b> menu you can link highlighted names. "
                                            + " Otherwise you can close the <b>Select Person</b> menu and select other names "
                                            + "for the same person.<br>"
                                            + "You try: <ol><li>Close menu. This can be done either by clicking <b>close</b>"
                                             +" or <b>&times</b> in the top right corner.";
                                    this.instruction = "You can add another name by selecting "
                                            + "another span of text and clicking highlight.<br>You can click the <b>Clear</b> button to clear highlights.<br>"
                                            + "You try: <ol><li>'Shaka Zulu'<li>Click Highlight.";
                            } else {
                                    this.modal_instruction = "The selected mentions appear in the <b>Selected mentions</b> section. If you do not want to link"
                                            + " a mention you can un-tick the checkbox next to the mention.<br> Next select the person that the"
                                            + " mentions refer to from the database by searching in the <b>Select Person</b> search bar.<br>"
                                            + " Just clicking <b>Search Person</b> will show a list of all the people available for linking.<br>"
                                            + " You try: <ol><li>Search the database for the person referred to by the two mentions highlighted"
                                            + " (e.g type <em>shaka</em> into the <b>Select Person</b> search bar).<br>"
                                            + " Your search results will appear below search bar."
                                            + " <li>Check the box for <em>Shaka kaSenzangakhona</em>."
                                            + " For more information you can click on the <b>Description</b> and <b>Alias</b> links to hide/show the text."
                                            + " <li> Click the <b>Link</b> button to associate the mentions with the person.</ol>";
                            }
                                    this.step += 1;
                                    if (userSelection.empty) {  // Chrome
                                        userSelection.empty();
                                    } else if (userSelection.removeAllRanges) {  // Firefox
                                        userSelection.removeAllRanges();
                                    }
                                    $("#search_entity").val(selected.slice(0, 3));
                                    $("#entity_search_btn").click();
                                    showMenu();
                        } else if (this.step == 0){
                                this.instruction += `<br>Select 'Shaka kaSenzangakhona' not <b>${selected}</b>`
                        } else if (this.step == 1){
                                this.instruction += `<br>Select 'Shaka Zulu' not <b>${selected}</b>`
                        }
                    },
					stripHTML(text){
						return text.replace(/<\/?.*?>/ig, '')
					},
					reset: function(){
                        this.highlighted = 0;
                        document.getElementById("document_text").innerHTML = this.highlight_html;
                        this.mentions = [];
                    },
                    showEntity(){
                         if (this.step == 2){
                            this.entities = true;
                            this.instruction = "A list of possible entities is now shown. You can select a possible person using"
                            + " the radio button. Clicking on the detail or alias link displays more information about the person."
                            + " Click on the link again will hide the information<br>"
                            + " If none of the entities match then you can try another search or select the <b>Create New</b>"
                            + " and fill in the fields to create a new entry for a person.<br>"
                            + " You try: <ol><li> Select 'Shaka kaSenzangak'<li>Click <b>link</b> to link the mentions.</ol>"
                            + " You should then see the mentions you've created highlighted in green."

                            this.step += 1;
                        }
                    },
					switch_add_entity(){
						if (this.$refs["add_radio"].checked) {
							this.add_entity = "-1";
						} else {
							this.add_entity = "false";
						}
					},
					highlight: function(){
						span = '(<\/?span.*?>)?'
						if (this.name != null){
							var search = new RegExp('\\b' + prev_mention.text + '\\b', "g")//new RegExp(span + this.name.split(' ').join(span + ' ' + span) + span, 'g')
							this.highlight_html = this.document_html;
							this.highlight_html = this.highlight_html.replace('/' + search + "/g",
								'<span class="highlightText">' + this.name + '</span>');
						}
					},
					get_mention_link(text, pos){
						for (i in this.prev_mentions){
							mention = this.prev_mentions[i];
							if (mention.mention__text == text && mention.mention__start_position == pos){
								return mention.entity__name;
							}
						}
						return '';
					},
					check_annotated: function(){
					    // Check if all lines have been annotated
                        this.annotated = document.getElementById("line-1").checked && document.getElementById("line-2").checked
					},
					checkForm: function(e) {
					    if (this.mentions.length > 0 &&
					        (this.add_entity == "false" |
					        (this.add_entity == "-1" && this.add_entity_name.length > 0
					         && this.add_entity_desc.length>0))) {
					        return true;
					    }

					    this.errors = [];

					    if (this.mentions.length == 0){
					        this.errors.push("No Mentions Selected");
					    }

					    if (this.add_entity && !this.add_entity_name) {
                            this.errors.push("No name given for new person entry")
					    }

					    if (this.add_entity && !this.add_entity_desc) {
                            this.errors.push("No description given for new person entry")
					    }

					    e.preventDefault();
					}

				}
			})

		</script>

<script>
			$("#entity_search_btn").click(function () {
				const search_entity = $("#search_entity").val();
				$.ajax({
					type: "POST",
					url: '{% url "annotate_document:search" %}',
					data: {
						'search_entity': search_entity,
						'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
					},
					success: function (data) {
						let html_data = '';
						data.forEach(function (data) {
							let alias_list = "";
							data.alias.split(",").forEach(function (alias) {
								alias = alias.trim()
								if (alias.length > 1){alias_list += "<li>" + alias;}
							})
							html_data += `<input type="radio" id="${data.id}" value="${data.id}"
							name="entity_radio" class="form-check-input">
							<label for="data.id" class="form-check-label">${data.name}</label>
							<a href="#entityDesc${data.id}" data-toggle="collapse" aria-expanded="false",
								aria-controls="entityDesc${data.id}">Description</a>
							<a href="#entityAlias${data.id}" data-toggle="collapse" aria-expanded="false",
								aria-controls="entityAlias${data.id}">Aliases</a><br>

							<div class="collapse" id="entityDesc${data.id}">
							<div class="card card-body p-1 mb-1">${data.description}</div>
							</div>
							<div class="collapse" id="entityAlias${data.id}">
							<div class="card card-body p-0 pt-1 mb-1"><ul>${alias_list}</ul></div>
							</div>`;

						});
						$("#select_entity").html(html_data);
					}
				});
			});


			$(".annotate_checkbox").click(function () {
				const annotatedLines = $("#annotatedLines").val();
				const document = $("#docId").val();
				const csrf = $('input[name=csrfmiddlewaretoken]').val();
				 $.ajax({
					type: "POST",
					url: '{% url "annotate_document:updateAnnotated" %}',
					data: {
						'annotated_lines': annotatedLines,
						'document_id': document,
						'csrfmiddlewaretoken': csrf,
					},
					success: function (data) {
					$("#last_saved").html("Last Saved: " + new Date().toLocaleString());
					}
				});
			});

		</script>
<script>
			if (!window.x) {
				x = {};
			}

			x.Selector = {};
			x.Selector.getSelected = function() {
				var t = '';
				if (window.getSelection) {
					t = window.getSelection();
				} else if (document.getSelection) {
					t = document.getSelection();
				} else if (document.selection) {
					t = document.selection.createRange().text;
				}
				return t;
			}

			var pageX;
			var pageY;
			var textOffsetX;
			var textOffsetY;
			var newHighlight = true;

			function toggleHighlight(element){
				var id = parseInt(element.id);
				var highlightSection = $(`mark#${id + 1}`);
				if (element.checked){
					if (highlightSection.hasClass('none')){
						highlightSection.removeClass('none');
					}
				} else {
					highlightSection.addClass('none');
				}
			}

			function showMenu(){
				$("#entityModal").modal('show');
			}

			$(document).ready(function() {

				$(function () {
				  	$('[data-toggle="tooltip"]').tooltip();
				})

				$(document).bind("mouseup", function(e) {
					var selectedText = x.Selector.getSelected();
					var textboxNode = document.getElementById("document_text")

					if(selectedText != '' && !app.clearHighlight
						&& textboxNode.contains(selectedText.getRangeAt(0).commonAncestorContainer)){
							var selectionRect = selectedText.getRangeAt(0).getBoundingClientRect();
							if (newHighlight){
								app.name = selectedText.toString();
								app.newHL = true
								var textOffset = $("#document_text").offset()
								$('#hlMention').css({
										'left': (selectionRect.left - textOffset.left) + 'px',
										'top' : (pageY - textOffset.top - (1.2*$('#hlMention').height())) + 'px'
								}).fadeIn(200);
								newHighlight=false;
						}
					} else if (e.target.tagName == "MARK" && e.target.className == "green"){
						index = e.target.id.match(/(\d+)/)[0];
						mention = app.prev_mentions[parseInt(index)]
						app.highlighted_mention_index = parseInt(index)
						app.name = mention.entity__name
						app.delete_mention = mention
						var textOffset = $("#document_text").offset()
						$('#rmMention').css({
							'left': (pageX - textOffset.left) + 'px',
							'top' : (pageY - textOffset.top - (1.2*$('#rmMention').height())) + 'px'
						}).fadeIn(200);
					 } else {
						$('div.hlMenu').fadeOut(200);
						newHighlight=true;
						app.clearHighlight = false;
					}
				});

				$(document).on("mousedown", function(e){
					pageX = e.pageX;
					pageY = e.pageY;

					setTimeout(function(){
						var selectedText = window.getSelection().toString();
						if(selectedText == ''){
							$('#hlMention').fadeOut(200);
							newHighlight=true;
							app.clearHighlight = false;
						}
					})
				});
			});
		</script>
</body>
{% endblock %}