{% extends 'annotate_document/video_base.html' %}

{% block instructions %}
<div class="row">
    <div class="col-12">
        <p>
            The video shows how to use the system to link names to the people to whom they refer.
        </p>
    </div>
</div>
{% endblock %}

{% block navigation %}
{% endblock %}