{% extends 'annotate_document/base.html' %}

{% block header %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Instructions</h1>
    </div>
</div>

{% block instructions %}
{% endblock %}

<div class="row">
    <div class="col-12 text-center">
        <div id="player"></div>
    </div>
</div>

{% block navigation %}
{% endblock %}

<script>
    // Form Youtube API: https://developers.google.com/youtube/iframe_api_reference
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '365',
      width: '640',
      videoId: '74LLnY_p-lM',
      playerVars: {
        'playsinline': 1,
        'rel': 0,
        'origin': window.location.href,
        'autoplay': 0
      },
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
        event.target.playVideo();
    }

    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    function onPlayerStateChange(event) {

        // if the video ends, send the event
        if (event.data == YT.PlayerState.ENDED) {
            $("#next_btn").show();
        }
    }
    function stopVideo() {
    player.stopVideo();
    }
</script>
{% endblock %}