{% extends 'annotate_document/base.html' %}

{% block header %}
<h1>Page Not Found</h1>
{% endblock %}
{% block navList %}
<li></li>
<li><a class="float-right" href="{% url 'annotate_document:document-list' %}">Document List</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        {% if user.profile.admin_approval %}
        <h4>Oh dear! Looks like you can't go here.</h4>
        {% else %}
        <h4>Thanks for coming but the Annotation system has now closed.</h4>
        {% endif %}
    </div>
</div>
{% endblock %}