{% extends 'annotate_document/base.html' %}

{% block header %}
<h1>Page Not Found</h1>
{% endblock %}
{% block navList %}
<li></li>
<li><a class="float-right" href="{% url 'annotate_document:document-list' %}">Document List</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4>The page you are looking for is not here.</h4>
    </div>
</div>
{% endblock %}