{% extends 'annotate_document/base.html' %}

{% block header %}
<h1>Oh No.... Server Error (500)</h1>
{% endblock %}
{% block navList %}
<li></li>
<li><a class="float-right" href="{% url 'annotate_document:document-list' %}">Document List</a></li>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4>Something has gone wrong but we're working on it and it should be working soon.</h4>
        In the mean time, try go to the <a class="float-right" href="{% url 'annotate_document:document-list' %}">
        document list</a> and work on another document.
    </div>
</div>
{% endblock %}